//================================//
//  UCFBANDS V2 | ENVIRA-GALLERY  //
//================================//

.envira-album-title {
    color: $white;
    font-size: 1.33em !important;
    font-weight: 700;
}
