//================================//
//  UCFBands V2 | Envira Gallery  //
//===========================----=//

.envira-gallery-wrap .envira-gallery-public .envira-gallery-item>.envira-gallery-link {
    border: 2px solid $ucf-gray-darkest !important;
}

.envira-album-title {
    position: absolute !important;
    top: auto;
    bottom: 0;
    margin: 0 !important;
    padding: ($space-default * 0.75) !important;
    width: 100% !important;
    font-size: 1.25em !important;
    line-height: 1.2 !important;
    color: $white;
    font-weight: 700;
    font-family: $font-family-sans-serif !important;
    text-shadow: $text-shadow-dark-lg !important;
    pointer-events: none;

    @include breakpoint( medium ) {
        font-size: 1.2em !important;
        padding: $space-default-half !important;
    }

} // .envira-album-title

.envirabox-skin {
    padding: 10px !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
} // .envirabox-skin


a.envirabox-close {
    width: 31px !important;
    height: 32px !important;
    background-image: url('images/envira-close.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white !important;
    border-radius: 9999px !important;
    right: -11px !important;
    top: -15px !important;
    box-shadow: 0 0 14px rgba(0,0,0,0.75) !important;
}

.envirabox-nav span {
    width: 31px !important;
    height: 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: $white !important;
    border-radius: 9999px !important;
    box-shadow: 0 0 14px rgba(0,0,0,0.75) !important;
}

.envirabox-next span {
    background-image: url('images/envira-next.png') !important;
}

.envirabox-prev span {
    background-image: url('images/envira-prev.png') !important;    
}

#envirabox-buttons ul {
    background: rgba(0,0,0,0.75) !important;
}
