//=======================//
//  UCFBANDS V2 | EVENT  //
//=======================//


.block-title {
    margin-bottom: $space-default-half;
}

.entry-wrapper {
    margin-bottom: $space-default-half;
    padding: $space-default-half;

    @include block();

    @include breakpoint( small-medium ) {
        padding: $space-default-half $space-default;
        border: 0;
        box-shadow: none;
        background: $ucf-gray-light;
        text-shadow: $text-shadow-white-sm;
    }

    @include breakpoint( extra-small ) {
        padding: $space-default-half ($space-default-half + 10px);
    }

    .more-info {
        display: inline-block;
        position: relative;
        right: -5px;
        float: right;
        padding-right: 5px;
        text-shadow: none;

        @include transition-ease-in-out();

        a {
            color: $ucf-gray-med-light;

            &:hover {
                color: $ucf-gold;
                text-shadow: none;

                .event-details {
                    display: inline;
                }

            } // a:hover

            @include transition-ease-in-out();

            .event-details {
                display: none;
                position: absolute;
                right: 0;
                width: 135px;
                padding-left: 10px;
                padding-right: 15px;
                color: $white;
                background: $ucf-gray;
                border-radius: 15px;
                box-shadow: 0 0 10px 10px $white;

                @include transition-ease-in-out();

            } // .see-event-details

            i.fa {
                z-index: 50;
                position: relative;
            }

        } // a

    } // .more-info

    .right-info {
        display: block;
        cursor: default;

        i.fa {
            width: 15px;
            text-align: center;
        }

        .location a {
            color: inherit;
            border-bottom: 2px solid rgba(0,0,0,0);

            @include transition-ease-in-out();

            &:hover {
                color: inherit;
                border-bottom: 2px solid $ucf-gold;
            }

        } // a

    } // .right-info

    .event-title {
        margin-bottom: 2px;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        font-size: 16px;
    }

    hr {
        margin: $space-default-half 0;
    }

    .event-details-excerpt p:last-child {
        margin-bottom: 0;
    }

} // .entry-wrapper


.post-type-archive-ucfbands_event .entry-wrapper.masonry-block {
    padding: $space-default-half;

    @include breakpoint( small-medium ) {
        padding: $space-default;
        background: none;
    }

    @include breakpoint( extra-small ) {
        padding: $space-default-half + 10px;
    }

} // .post-type-archive-ucfbands_event .entry-wrapper.masonry-block

.events-shortcode-wrap {
} // .events-shortcode-wrap


.date-badge {
    float: left;
    margin-right: $space-default-half;
    padding: 8px 18px;
    background-color: $ucf-gray-light;
    // border: 1px solid $ucf-gray-med;
    border-bottom: 3px solid $ucf-gray-med;
    font-family: $font-family-serif;
    font-size: 1em;
    font-weight: 700;
    color: $white;
    text-align: center;
    line-height: 1.66em;
    text-transform: uppercase;
    cursor: default;

    &.date-badge-ucf-gray {
        background-color: $ucf-gray;
        border-color: $black;
        // text-shadow: $text-shadow-dark-med;
    }

    &.date-badge-gold {
        background-color: $ucf-gold;
        border-color: $ucf-gold-darker;
        // text-shadow: $text-shadow-gold-med;
    }

    &.date-badge-green {
        background-color: $green;
        border-color: $green-darker;
        // text-shadow: $text-shadow-green-med;
    }

    &.date-badge-red {
        background-color: $red;
        border-color: $red-darker;
        // text-shadow: $text-shadow-red-med;
    }

    &.date-badge-blue {
        background-color: $blue;
        border-color: $blue-darker;
        // text-shadow: $text-shadow-blue-med;
    }

    .day {
        font-size: 1.66em;

        &.day-multi {
            font-size: 1.33em;
        }

    } // .day

} // .date-badge


.event-schedule {

   > ul {
       margin-left: 0;
       margin-bottom: 0;

       > li {
           list-style-image: none;
           list-style-type: none;
           margin: 0;
           padding: 4px 6px;
           border-bottom: 1px solid $ucf-gray-med-light;
           cursor: default;

           @include transition-ease-in-out(100ms);

           span {
               display: inline-block;
               width: 65px;
               margin-right: 10px;
               font-size: .9em;
               font-weight: 700;
           }

           p {
               display: inline;
           }

           &:last-child {
               border-bottom: 0;
           }

//           &:nth-child(even) {
//               background-color: $ucf-gray-light;
//           }

           &:hover {
               background-color: $ucf-gray-light;
               color: $black;
               text-shadow: 1px 1px $white;
           }

       } // li


       ul { // Sub-items
           margin-top: 4px;
           font-size: .9em;
           line-height: 1.33em;

           li {
               margin-bottom: 4px;
               list-style-image: none;
               cursor: default;

               p {
                   display: inline;
               }

           } // li

        } // Sub-Items UL

    } // Items UL

} // .event-schedule

.button-schedule-download {
    display: block;
    width: 100%;
    text-align: center;
    background: $ucf-gray-light !important;
    color: $ucf-gray !important;
    border: none !important;
    border-top: 4px solid $ucf-gray-light !important;

    &:hover {
        background: $ucf-gold !important;
        color: $white !important;
    }

} // .button-schedule-download

.schedule-shortcode .event-schedule {
    border: 4px solid $ucf-gray-light;

    > ul {
        top: 0;
        left: 0;

        > li {
            padding: 9px 12px;
        }

    } // > ul

} // .schedule-shortcode .event-schedule


.event-program {
    padding: $space-default-half + 5px;
    background-color: $ucf-gray-light;
    text-shadow: 1px 1px $white;


    h2 {
        text-align: center;
        margin: 0;
    }

    .guest-composer {
        display: block;
        text-align: center;
        font-style: italic;
        cursor: default;
    }

    // band heading/conductor
    h4 {
        margin: 13px 0 10px;
        text-align: center;

        span {
            display: block;
            font-size: 14px;
            font-weight: 700;
            font-family: $font-family-sans-serif;
            font-style: italic;
        }
    }


    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            list-style-type: none;
            list-style-image: none;
            padding: 8px 5px;
            line-height: 1.4em;
            font-weight: 400;
            cursor: default;


            @include transition-ease-in-out(120ms);

            &:hover {
                background-color: $white;
            }

        } // li

        ul {
            margin: 0;
            padding: 0;
            font-size: .85em;
            font-style: italic;

            li {
                margin: 0;
                padding: 0;
                font-weight: 300;
            }

        } // ul (Piece Notes)

    } // ul

    > ul > li {
        border-bottom: 1px solid $ucf-gray-med-light;
    }

    .piece-title {
        font-weight: 700;
    }

    .piece-composer {
        float: right;
        font-size: .85em;
    }


    // DOTTED Style
    &.style-dotted {

        ul {

            li {
                padding: 10px 8px 3px 8px;

                @include breakpoint( extra-small ) {
                    padding: 18px 8px 5px 8px;
                }

            } // li

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                }

            } // ul (Piece Notes)

        } // ul

        > ul > li {
            border-bottom: 1px dotted $ucf-gray-med-light;
        }

    } // .style-dotted


    // CENTERED Style
    &.style-centered {
        text-align: center;

        .guest-composer {
            padding-left: 0px;
        }

        ul {

            li {
                padding: 5px;
            } // li

        } // ul

        > ul > li {
            border-bottom: 0;
        }

        .piece-title {
            font-weight: 700;
        }

        .piece-composer {
            float: none;
            font-size: 1em;

            &::before {
                content: '-';
                margin: 0 5px;
            }

        } // .piece-composer

    } // .style-centered


    // SIMPLE Style
    &.style-simple {

        .guest-composer {
            padding-left: 5px;
        }

        ul {

            li {
                padding: 0px;
            } // li

        } // ul

        > ul > li {
            border-bottom: 0;
            padding: 8px 5px;
        }

        .piece-title {
            font-weight: 700;
        }

        .piece-composer {
            float: none;
            font-size: 1em;

            &::before {
                content: '-';
                margin: 0 5px;
            }

        } // .piece-composer

    } // .style-simple


    @include breakpoint( extra-small ) {

        .piece-composer {
            float: none;

            &::before {
                content: ' - ';
                margin: 0 3px;
            }

        } // .piece-composer

    } // Extra-Small Breakpoint

} // .event-program



//-- EVENT SINGLE --//
.single-ucfbands_event {

    .content {
        position: relative;

        @include block();

        article {
            padding: 0;
            margin-bottom: 0;
        }

    } // .content

    .entry-header {
        padding: $space-default;

        @include clearfix();

        .header-left {
            float: left;
            width: 75%;

            @include breakpoint( medium ) {
                float: none;
                width: 100%;
            }

            &.full-width {
                width: 100%;
            }

        } // .header-left

        .header-right {
            float: right;
            width: 25%;
            text-align: right;

            @include breakpoint( medium ) {
                float: none;
                width: 100%;
                margin-top: $space-default;
                clear: both;
                text-align: left;
            }

            @include breakpoint( extra-small ) {
                margin-top: $space-default-half + 10px;
                padding: 0 $space-default-half + 10px;
                text-align: center;
            }

        } // .header-right


        @include breakpoint( extra-small ) {
            padding: 0 0 ($space-default-half + 10px) 0;
            text-align: center;
        }

    } // .entry-header

    .entry-title {
        font-size: 42px;
        cursor: default;
        margin: 0;

        @include breakpoint( extra-small ) {
            padding: $space-default-half + 10px;
            font-size: 36px;
        } // breakpoint extra-small

    } // .entry-title

    .date-badge {
        margin-right: $space-default;
        padding: 12px 22px;
        font-size: 1.33em;
        font-weight: 700;
        line-height: 1.66em;

        @include breakpoint( extra-small ) {
            display: block;
            margin: 0 0 ($space-default-half + 10px) 0;
            width: 100%;
            font-size: 1.77em;
            border-width: 0 0 1px 0;

            br {
                display: none;
            }

            .month {
                margin-right: $space-default-half - 10px;
            }

            .day {
                font-size: 1em;
            }

        } // breakpoint extra-small

    } // .date-badge

    .event-ticket-price {
    }

    .event-time-location {
        display: inline-block;
        margin-top: 10px;
        font-size: 1.33em;
        cursor: default;

        @include breakpoint( extra-small ) {
            margin: 0;

            span {
                margin: 0;
                display: inline-block;
                clear: both;
                width: 100%;
            }

        } // breakpoint extra-small

    } // .event-time-location

    .event-time {
        margin-right: $space-default;
    }

    .fb-share-button {
        float: right;
    }

    .attachment-post-thumbnail {
        margin: 0;
        border-top: 4px solid $ucf-gray-darker;
        border-bottom: 4px solid $ucf-gray-darker;

        @include breakpoint( extra-small ) {
            margin: 0;
        }

    } // .attachment-post-thumbnail

    .event-header-hr {
        margin: 0 $space-default;

        @include breakpoint( extra-small ) {
            margin: 0 ($space-default-half + 10px);
        }

    } // .event-header-hr

    .entry-content {
        padding: $space-default;

        @include breakpoint( extra-small ) {
            padding: $space-default-half + 10px;
        }

    } // .entry-content

    address {
        font-style: normal;
    }

    .event-schedule-repitoire {
        clear: both;

        hr {

            @include breakpoint( medium ) {
                display: none;
            }

        } // hr

    } // .event-schedule-repitoire

    #googleMap {
        margin: $space-default-half 0;

        @include block();
    }

} // .single-ucfbands_event


body.font-style-athletic.single-ucfbands_event {

    .entry-title {
        letter-spacing: 0;
    }

    .date-badge {
        font-family: $font-family-athletic;
        letter-spacing: .1em;
    }

} // Athletic Typography on Event Single
