//============================//
//  UCFBands V2 | FooGallery  //
//============================//

.foogallery-container {
} // .foogallery-container

.fbx-modal {

    &.fbx-rounded {

        .fbx-inner, .fbx-item-current, .fbx-item-next, .fbx-item-image, .fbx-next, .fbx-prev {
            border-radius: 0 !important;
        }

    } // &.fbx-rounded

} // .fbx-modal

.foogallery-stack-album {

    .topbar {
        margin: 0 !important;
        padding: ($space-default-half + 10px) !important;
        background: $ucf-gray !important;
        color: $white !important;
        box-shadow: none !important;

        @include breakpoint( medium ) {
            background: $ucf-gray-darkest !important;
        }

        h2 {
            color: $white !important;
            font-size: 24px !important;

            @include breakpoint( small-medium ) {
                width: 75% !important;
            }

            @include breakpoint( extra-small ) {

            }

        } // h2

        h3 {
            color: $ucf-gold !important;

            @include breakpoint( small-medium ) {
                display: block !important;
                text-align: left !important;
                padding: 0 !important;
            }

        } // h3

    } // .topbar

    .back {
        background: $ucf-gold !important;
        color: $white !important;
        font-weight: 700 !important;

        @include transition-ease-in-out();

        &:hover {
            background: $ucf-gold-darker !important;
            // color: $ucf-gold-darker !important;
        }

        @include breakpoint( small-medium ) {
            left: inherit !important;
            right: $space-default !important;
        }

    } // .back

    li {
        transform: none !important;
        box-shadow: none !important;
    }

} // .foogallery-stack-album


.tp-grid li { // Open Gallery Item

    -webkit-transition: all ease-in-out 150ms !important;
            transition: all ease-in-out 150ms !important;

    &:hover {
        border-color: $ucf-gold !important;
    }

} // .tp-grid li


.foogallery-archive {
    display: block;
    margin: 0;
    padding: 0 ($space-default-half + 10px);
    background: $ucf-gold-darker;
    color: $white;
    text-align: center;

    .foogallery-archive-title {
        display: inline-block;
        padding: ($space-default-half - 10px) 0;
        margin-right: $space-default-half;
        font-weight: bold;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            // margin-right: $space-default-half;

            a {
                display: inline-block;
                padding: ($space-default-half - 10px) $space-default-half;
                color: $white;

                &:hover {
                    background: $ucf-gold;
                }

            } // a

        } // li

    } // ul

} // .foogallery-archive
