//========================//
//  UCFBANDS V2 | FOOTER  //
//========================//

.site-footer {
    position: fixed;
    margin: 0;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: $site-header-width;
    background: #171314; //$ucf-gray;
    color: #737373;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.33px;
    line-height: 1.5;
    // font-family: $font-family-serif;
    // text-shadow: $text-shadow-dark-med;

    &:hover {
        color: $border-gray;
    }
    
    a {
        color: $border-gray;
        border-bottom: 2px solid $trans-full;
        
        @include transition_ease_in_out();
        
        &:hover {
            border-color: $ucf-gold;
            color: $white;
        }
        
    } // a
    
    .address-placeholder {
        display: none;
        margin-bottom: $space-default-half - 10px;
        padding: 10px;
        border-radius: 7px;
        border: none;
        color: $white;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        
        @include breakpoint( height-large ) {
            display: block;
        }
        
        @include breakpoint( smaller-than-medium-width-with-large-height ) {
            display: none;   
        }
        
    } // .address-placeholder
    
    address {
        box-sizing: border-box;
        font-style: normal;
        margin-bottom: 10px;
        
        a {
            color: inherit;
            border: none;
            
            &:hover {
                color: $white;
            }
        
        } // a
        
        @include breakpoint( height-large ) {
            display: none;   
        }
        
        @include breakpoint( smaller-than-medium-width-with-large-height ) {
            display: inherit;
        }
        
    } // address
    
    // If the height is too small for the width with full menu
    
    @include breakpoint( medium ) {
        width: $site-header-width-med;
        padding: $space-default-half;
        font-size: .8em;
    }

    @include breakpoint( large-width-with-small-height ) {
        z-index: 750;
        padding: $space-default-half $space-default;
        box-shadow: 0 -20px 20px -20px $black;
    }
    
    @include breakpoint( smaller-than-medium-width-with-smaller-than-medium-height ) {
        z-index: 750;
        padding: $space-default-half $space-default;
        box-shadow: 0 -20px 20px -20px $black;           
    }
    
    @include breakpoint( small ) {
        position: static;
        padding: $space-default;
        width: 100%;
        border-top: 5px solid $ucf-gray-darkest;
        box-shadow: none;
        z-index: 0;
        font-size: 1em;
        
        .wrap {
            padding: 0;
        }
        
    } // breakpoint-small
    
    br {
        
        @include breakpoint( large-width-with-small-height ) {
            display: none;   
        }
        @include breakpoint( smaller-than-medium-width-with-smaller-than-medium-height ) {
            display: none; 
        }
        
    } // br
    
} // .site-footer

#footer-social {
    height: auto;
    overflow: auto;
    
    a {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        width: 40px;
        font-size: .9em;
        text-align: center;
        border-radius: 7px;
        border: none;
        color: $white;
        background-color: rgba(0,0,0,0.5);
        
        @include transition-ease-in-out();
        
        &:hover {
            color: $ucf-gold;
        }
        
        @include breakpoint( height-large ) {
            display: none;
        }
        
        @include breakpoint( smaller-than-medium-width-with-large-height ) {
            display: inline-block;
        }
        
    } // a

} // #footer-social 
