//============================//
//  UCFBands V2 | FooGallery  //
//============================//

.foogallery-container {
} // .foogallery-container


.foogallery-stack-album {

    .topbar {
        margin: 0 !important;
        padding: ($space-default-half + 10px) !important;
        background: $ucf-gray !important;
        color: $white !important;
        box-shadow: none !important;

        h2 {
            color: $white !important;
        }

        h3 {
            color: $ucf-gold !important;
        }

    } // .topbar

    .back {
        background: $ucf-gold !important;
        color: $white !important;
        font-weight: 700 !important;

        @include transition-ease-in-out();

        &:hover {
            background: $ucf-gold-darker !important;
            // color: $ucf-gold-darker !important;
        }

    } // .back

    li {
        transform: none !important;
        box-shadow: none !important;
    }

} // .foogallery-stack-album

.foogallery-archive {
    display: block;
    margin: 0;
    padding: 0 ($space-default-half + 10px);
    background: $ucf-gold-darker;
    color: $white;
    text-align: center;

    .foogallery-archive-title {
        display: inline-block;
        padding: ($space-default-half - 10px) 0;
        margin-right: $space-default-half;
        font-weight: bold;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            // margin-right: $space-default-half;

            a {
                display: inline-block;
                padding: ($space-default-half - 10px) $space-default-half;
                color: $white;

                &:hover {
                    background: $ucf-gold;
                }

            } // a

        } // li

    } // ul

} // .foogallery-archive
