//=======================//
//  UCFBands V2 | FORMS  //
//=======================//

//-- DEFAULT --//

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $ucf-gray;
    text-shadow: $text-shadow-dark-med;
    
    &:hover {
        text-shadow: $text-shadow-gold-med;
    }
    
} // default button fix



//-- PASSWORD FORM --//

.ucfbands-password-form {
    
    .form-title {
        margin-bottom: $space-default-half;
    }
    
    input {
        display: block;
        float: left;
        width: 66%;
        
        &[type="submit"] {
            padding: 18px 24px;
            width: 33%;
            font-weight: 700;
        }
        
    } // input
    
} // .ucfbands-password-form
