//===============================================//
//  UCFBANDS HERO (Bootstrap "Jumbotron" Thing)  //
//===============================================//

.hero {
    
    // Structure
    display: block;
    width: 100%;
    padding: $space-default;
    clear: both;
    
    // Text
    text-align: center;
    color: $white;
    
    // Borders
    border-bottom: 5px solid $ucf-gold-darker;
    box-shadow: 4px 0 4px rgba(0,0,0,0.5);
    
    // Background
    background-attachment: fixed !important;
    background-position: center !important;
    background-clip: border-box !important;
    
    
    // PADDING
    &.hero-sm {
        padding: $space-default;
    }
    
    &.hero-med {
        padding: ($space-default * 2);
    }
    
    &.hero-lg {
        padding: ($space-default * 3);
        
        h2 {
            font-size: 4.2em;
        }
        
    } // .hero-lg
    
    
    // COLOR
    &.hero-gold {
        border-top: 5px solid $ucf-gold;
        background: $ucf-gold-darker;
    }
    
    &.hero-gray {
        border-top: 5px solid $black;
        background: $ucf-gray;   
    }
    
    &.hero-red {
        border-top: 5px solid $red-darkest;
        background: $red;
    }
    
    &.hero-green {
        border-top: 5px solid $green-darkest;
        background: $green;
    }
    
    &.hero-blue {
        border-top: 5px solid $blue-darkest;
        background: $blue;
    }
    
    
    // TITLE
    h2 {
        margin-bottom: $space-default-half;
        font-size: 3.2em;
        color: $white;   
        text-shadow: 0 1px 7px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.15);
        cursor: default;
    }
    
    
    // CONTENT
    p {
        margin: 0;
        font-size: 1.5em;
        color: $white;
        text-shadow: 0 1px 4px rgba(0,0,0,0.4);
        cursor: default;
    }
    
    
    // BUTTON
    .button.button-outline.button-white {
        margin-bottom: 10px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.25);
        text-shadow: 0 1px 4px rgba(0,0,0,0.4);
        letter-spacing: .05em;
        
        &:hover {
            text-shadow: none;
        }
    }
    
    // MEDIA QUERIES
    @include breakpoint( medium ) {
        
        &.hero-lg {
            padding: ($space-default * 2);
            
            h2 {
                font-size: 3.2em;
            }
            
        } // .hero-lg
    
    } // medium
    
    @include breakpoint( extra-small ) {
        
        &.hero-med, &.hero-lg {
            padding: $space-default;
            
            h2 {
                font-size: 2.75em;
            }
            
        } // .hero-lg
        
        h2 {
            font-size: 2.75em;
        }
        
        p {
            font-size: 1.2em;
        }
    
    } // extra-small
    
    @include breakpoint( extra-extra-small ) {
        
        &.hero-lg, &.hero-med, &.hero-sm {
            padding: ($space-default-half + 10px);
            
            h2 {
                font-size: 2em;
            }
            
        } // .hero-lg
        
        h2 {
            font-size: 2em;
        }
        
        p {
            font-size: 1em;
        }
        
        .button {
            padding: 5px 10px;
        }
    
    } // extra-extra-small

} // .hero

.entry .hero {
    box-shadow: none;
    padding-left: -$space-default;
}
