//=========================//
//  UCFBands V2 | Masonry  //
//=========================//

* {
    box-sizing: border-box;
}

// Grid Clearfix
.masonry-6col-grid:after {
    content: '';
    display: block;
    clear: both;
}

.masonry-block {
    margin-bottom: $space-default;
    padding: $space-default;
    float: left;

    @include breakpoint( small-medium ) {
        margin-bottom: 0;
        padding: ($space-default-half + 5px) $space-default;

        &:nth-child(3) { // 3rd because of sizer divs
            padding-top: $space-default;
        }

        &:last-child {
            padding-bottom: $space-default;
        }

    } // small-medium

    @include breakpoint( extra-small ) {
        padding: $space-default-half + 10px;
    }

    &.block {

        @include breakpoint( small-medium ) {
            padding-bottom: $space-default + 10px;
            padding-top: $space-default + 10px;
            border: 0;
            border-bottom: 1px solid $border-gray;
            box-shadow: none;

            &.musicdistro-masonry-block,
            &.musicdistro-form-block {
                border: 0;
            }

            &:last-child {
                border: 0;
            }

        } // small-medium

    } // .block

} // .masonry-block


//-- 6-COL GRID WIDTHS --//
.masonry-6col-grid {

    // Grid Sizer & Default Block
    .masonry-6col-grid-sizer, .masonry-block {
        width: $masonry-6col-grid-sizer;
    }

    // Gutter Sizer
    .masonry-6col-gutter-sizer {
        width: $masonry-gutter-width;

        @include breakpoint( small-medium ) {
            width: 0%;
        }

    } // .masonry-6col-gutter-sizer


    // One Third
    .masonry-block-size--one-third {
        width: $masonry-6col-block-width--two-sixths;

        @include breakpoint( extra-large ) {
            width: $masonry-6col-block-width--three-sixths;
        }

        @include breakpoint( medium ) {
            width: $masonry-6col-block-width--six-sixths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }

    } // one-third


    // One Half
    .masonry-block-size--one-half {
        width: $masonry-6col-block-width--three-sixths;

        @include breakpoint( medium ) {
            width: $masonry-6col-block-width--six-sixths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }

    } // one-half


    // Two Thirds
    .masonry-block-size--two-thirds {
        width: $masonry-6col-block-width--four-sixths;

        @include breakpoint( medium ) {
            width: $masonry-6col-block-width--six-sixths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }

    } // two-thirds


    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-6col-block-width--six-sixths;

        @include breakpoint( small-medium ) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }

    } // one-whole


    // GLOBAL QUERIES
    .masonry-block-size--one-third,
    .masonry-block-size--one-half,
    .masonry-block-size--two-thirds,
    .masonry-block-size--one-whole {

        @include breakpoint( small ) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }

    } // Global Queries

} // .masonry-6col-grid



//-- 4-COL GRID WIDTHS --//
.masonry-4col-grid {

    // Grid Sizer & Default Block
    .masonry-4col-grid-sizer, .masonry-block {
        width: $masonry-4col-grid-sizer;
    }

    // Gutter Sizer
    .masonry-4col-gutter-sizer {
        width: $masonry-gutter-width;
    }

    // One Fourth
    .masonry-block-size--one-fourth {
        width: $masonry-4col-block-width--one-fourth;

        @include breakpoint( extra-large ) {
            width: $masonry-4col-block-width--two-fourths;
        }

        @include breakpoint( medium ) {
            width: $masonry-4col-block-width--two-fourths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-4col-block-width--four-fourths-blockless;
        }

    } // one-fourth


    // One Half
    .masonry-block-size--one-half {
        width: $masonry-4col-block-width--two-fourths;

        @include breakpoint( medium ) {
            width: $masonry-4col-block-width--four-fourths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-4col-block-width--four-fourths-blockless;
        }

    } // one-half


    // Three Fourths
    .masonry-block-size--three-fourths {
        width: $masonry-4col-block-width--three-fourths;

        @include breakpoint( medium ) {
            width: $masonry-4col-block-width--four-fourths;
        }

        @include breakpoint( small-medium ) {
            width: $masonry-4col-block-width--four-fourths-blockless;
        }

    } // three-fourths


    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-4col-block-width--four-fourths;

        @include breakpoint( small-medium ) {
            width: $masonry-4col-block-width--four-fourths-blockless;
        }

    } // four-fourths


    // GLOBAL QUERIES
    .masonry-block-size--one-fourth,
    .masonry-block-size--one-half,
    .masonry-block-size--three-fourths,
    .masonry-block-size--one-whole {

        @include breakpoint( small ) {
            width: $masonry-4col-block-width--four-fourths-blockless;
        }

    } // Global Queries

} // .masonry-4col-grid



// BREAKER BLOCK
.masonry-breaker-block {
    margin: 0;
    padding: 0;
}
