//=========================//
//  UCFBands V2 | Masonry  //
//=========================//

* {
    box-sizing: border-box;
}

// Grid Clearfix
.masonry-6col-grid:after {
    content: '';
    display: block;
    clear: both;
}

.masonry-block {
    margin-bottom: $space-default;
    padding: $space-default;
    float: left;
    
    @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: 0; //$space-default-half;
        padding: $space-default; //$space-default-half;
    }

} // .masonry-block


//-- 6-COL GRID WIDTHS --//
.masonry-6col-grid {
    
    // Grid Sizer & Default Block
    .masonry-6col-grid-sizer, .masonry-block {
        width: $masonry-6col-grid-sizer;
    }
    
    // Gutter Sizer
    .masonry-6col-gutter-sizer {
        width: $masonry-gutter-width;
        
        @media only screen and (max-width: $breakpoint-medium) {
            width: 0%;
        }
        
    } // .masonry-6col-gutter-sizer

    
    // One Third
    .masonry-block-size--one-third {
        width: $masonry-6col-block-width--two-sixths;

        @media only screen and (max-width: $breakpoint-extra-large) {
            width: $masonry-6col-block-width--three-sixths;
        }
        
        @media only screen and (max-width: $breakpoint-medium) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }
        
    } // one-third
    
    
    // One Half
    .masonry-block-size--one-half {
        width: $masonry-6col-block-width--three-sixths;
        
        @media only screen and (max-width: $breakpoint-medium) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }
        
    } // one-half
    
    
    // Two Thirds
    .masonry-block-size--two-thirds {
        width: $masonry-6col-block-width--four-sixths;

        @media only screen and (max-width: $breakpoint-medium) {
            width: $masonry-6col-block-width--six-sixths-blockless;
        }
        
    } // two-thirds
    
    
    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-6col-block-width--six-sixths-blockless;
    }
    
    
    // GLOBAL QUERIES
    .masonry-block-size--one-third,
    .masonry-block-size--one-half,
    .masonry-block-size--two-thirds,
    .masonry-block-size--one-whole {
        
        @media only screen and (max-width: $breakpoint-small) {
            width: $masonry-6col-block-width--six-sixths;
        }        
        
    } // Global Queries    
    
} // .masonry-6col-grid



//-- 4-COL GRID WIDTHS --//
.masonry-4col-grid {
    
    // Grid Sizer & Default Block
    .masonry-4col-grid-sizer, .masonry-block {
        width: $masonry-4col-grid-sizer;
    }
    
    // Gutter Sizer
    .masonry-4col-gutter-sizer {
        width: $masonry-gutter-width;   
    }
    
    // One Fourth
    .masonry-block-size--one-fourth {
        width: $masonry-4col-block-width--one-fourth;   
    
        @media only screen and (max-width: $breakpoint-extra-large) {
            width: $masonry-4col-block-width--two-fourths;
        }
        
        @media only screen and (max-width: $breakpoint-medium) {
            width: $masonry-4col-block-width--two-fourths;
        } 
        
        @media only screen and (max-width: $breakpoint-small-medium) {
            width: $masonry-4col-block-width--four-fourths;
        }         
        
    } // one-fourth
    
    
    // One Half
    .masonry-block-size--one-half {
        width: $masonry-4col-block-width--two-fourths;
        
        @media only screen and (max-width: $breakpoint-medium) {
            width: $masonry-4col-block-width--four-fourths;
        }
        
    } // one-half
    
    
    // Three Fourths
    .masonry-block-size--three-fourths {
        width: $masonry-4col-block-width--three-fourths;   
    
        @media only screen and (max-width: $breakpoint-large) {
            width: $masonry-4col-block-width--four-fourths;
        }
        
    } // three-fourths
    
    
    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-4col-block-width--four-fourths;   
    }
    
    
    // GLOBAL QUERIES
    .masonry-block-size--one-fourth,
    .masonry-block-size--one-half,
    .masonry-block-size--three-fourths,
    .masonry-block-size--one-whole {
        
        @media only screen and (max-width: $breakpoint-small) {
            width: $masonry-4col-block-width--four-fourths;
        }        
        
    } // Global Queries
    
} // .masonry-4col-grid



// BREAKER BLOCK
.masonry-breaker-block {
    margin: 0;
    padding: 0;
}
