//=========================//
//  UCFBands V2 | Masonry  //
//=========================//

* {
    box-sizing: border-box;
}

// Grid Clearfix
.masonry-6col-grid:after {
    content: '';
    display: block;
    clear: both;
}


// 6-COL GRID WIDTHS
.masonry-6col-grid {
    
    // Grid Sizer & Default Block
    .masonry-6col-grid-sizer, .masonry-block {
        width: $masonry-6col-grid-sizer;
    }
    
    // Gutter Sizer
    .masonry-6col-gutter-sizer {
        width: $masonry-gutter-width;   
    }
    
    .masonry-block {
        margin-bottom: $space-default;
        padding: $space-default;
        float: left;
    }

    // One Third
    .masonry-block-size--one-third {
        width: $masonry-6col-block-width--two-sixths;   
    }
    
    // One Half
    .masonry-block-size--one-half {
        width: $masonry-6col-block-width--three-sixths;
    }
    
    // Two Thirds
    .masonry-block-size--two-thirds {
        width: $masonry-6col-block-width--four-sixths;
    }
    
    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-6col-block-width--six-sixths;
    }
    
} // .masonry-6col-grid


// 4-COL GRID WIDTHS
.masonry-4col-grid {
    
    // Grid Sizer & Default Block
    .masonry-4col-grid-sizer, .masonry-block {
        width: $masonry-4col-grid-sizer;
    }
    
    // Gutter Sizer
    .masonry-4col-gutter-sizer {
        width: $masonry-gutter-width;   
    }
    
    .masonry-block {
        margin-bottom: $space-default;
        padding: $space-default;
        float: left;
    }
    
    // One Fourth
    .masonry-block-size--one-fourth {
        width: $masonry-4col-block-width--one-fourth;   
    }
    
    // One Half
    .masonry-block-size--one-half {
        width: $masonry-4col-block-width--two-fourths;   
    }
    
    // Three Fourths
    .masonry-block-size--three-fourths {
        width: $masonry-4col-block-width--three-fourths;   
    }
    
    // One Whole
    .masonry-block-size--one-whole {
        width: $masonry-4col-block-width--four-fourths;   
    }
    
} // .masonry-4col-grid



//// OLD MASONRY STYLES

//.masonry-blocks-sizer, .masonry-block {
//    width: $masonry-block-width-default;
//}
//
//.masonry-gutter-sizer { 
//    width: $masonry-gutter-width;
//}
//
//.masonry-block {
//    margin-bottom: $space-default;
//    padding: $space-default;
//    
//    @media only screen and (max-width: $breakpoint-medium) {
//        margin-bottom: $space-default-half;
//        padding: $space-default-half;
//    }
//}
//
//.masonry-block-size--one-fourth {
//    width: $masonry-block-width--one-fourth;
//    
//    @media only screen and (max-width: $breakpoint-medium) {
//        width: $masonry-block-width--one-half;
//    }
//    
//    @media only screen and (max-width: $breakpoint-large) {
//        width: $masonry-block-width--one-half;
//    }
//}
//
//.masonry-block-size--one-third {
//    width: $masonry-block-width--one-third;
//    
//    @media only screen and (max-width: $breakpoint-medium) {
//        width: $masonry-block-width--one-half;
//    }
//    
//    @media only screen and (max-width: $breakpoint-large) {
//        width: $masonry-block-width--one-half;
//    }
//}
//
//.masonry-block-size--two-fourths,
//.masonry-block-size--one-half {
//    width: $masonry-block-width--one-half;
//}
//
//.masonry-block-size--two-thirds {
//    width: $masonry-block-width--two-thirds;
//}
//
//.masonry-block-size--three-fourths {
//    width: $masonry-block-width--three-fourths;
//}
//
//.masonry-block-size--one-whole {
//    width: $masonry-block-width--one-whole;
//}
//
//.masonry-block-size--two-fourths,
//.masonry-block-size--one-half,
//.masonry-block-size--two-thirds,
//.masonry-block-size--three-fourths,
//.masony-block-size--one-whole {
//    
//    @media only screen and (max-width: $breakpoint-medium) {
//        width: $masonry-block-width--one-whole;   
//    }
//    
//    @media only screen and (max-width: $breakpoint-large) {
//        width: $masonry-block-width--one-whole;   
//    }
//}