//========================//
//  UCFBands V2 | Mixins  //
//========================//


//====================//
//  BLOCXLESS LAYOUT  //
//====================//


@mixin blockless-layout() {
    
    // Small-Medium Breakpoint
    @media only screen and (max-width: $breakpoint-small-medium) {
    
        .site-inner {
            background: $white;
            box-shadow: none;
        }
        
        .content-sidebar-wrap {
            padding: 0;   
        }
        
        .content .page {
            border: 0;   
            box-shadow: none;
        }
        
        .entry {
            padding: $space-default;
        }
        
        .sidebar-primary .widget {
            margin: 0;
            padding: $space-default;
            background: none;
            border: 0;
            box-shadow: none;
        }
        
    } // Small-Medium Breakpoint
    
    
    // Extra-Small Breakpoint
    @media only screen and (max-width: $breakpoint-extra-small) {
        
        .entry, .sidebar-primary .widget, .site-footer {
            padding: $space-default-half + 10px;
        }
        
    } // Extra-Small Breakpoint
    
} // blockless-layout()


// Apply
body.page-template-default,
body.page-template-page_section
{
    @include blockless-layout();
} // Apply Blockless Layout



//==========//
//  BLOCKS  //
//==========//

@mixin block {
    background-color: $white;
    box-shadow: 0 1px 6px $trans-shadow;
    border: 1px solid $border-gray;
}

@mixin block-remove {
    background: none;
    box-shadow: none;
    border: none;
}



//===========//
//  BUTTONS  //
//===========//

@mixin button(
    $text-color:                $white,
    $text-shadow:               $text-shadow-dark-med,
    $background-color:          $ucf-gray,
    $border-color:              $black
){
    
    // DEFAULTS
    text-transform: none;
    
    
    // REGULAR STUFF
    color: $text-color;
    text-shadow: $text-shadow;
    background-color: $background-color;
    border: 1px solid $border-color;
    
    
    // HOVER //
    &:hover {
        
        // Defaults
        background-color: $ucf-gold;
        border-color: $ucf-gold-darker;
        text-shadow: $text-shadow-gold-med;
        
        // Text Shadow, Background, & Border
        @if $background-color == $ucf-gold {
            text-shadow: $text-shadow-dark-med;
            background-color: $black;
            border-color: $black;
        }
        
        @if $background-color == $green {
            text-shadow: $text-shadow-green-med;
            background-color: $green-darker;
            border-color: $green-darkest;
        }        

        @if $background-color == $red {
            text-shadow: $text-shadow-red-med;
            background-color: $red-darker;
            border-color: $red-darkest;
        }
        
        @if $background-color == $blue {
            text-shadow: $text-shadow-blue-med;
            background-color: $blue-darker;
            border-color: $blue-darkest;
        }
        
        @if $background-color == $white {
            color: $white;
        }

    } // :hover
    
    &.no-hover {
        
        &:hover {
            background-color: inherit;
            text-shadow: inherit;
            color: inherit;
            border-color: inherit;
            cursor: default;
        }
        
        &.button-white {
            color: $body-text;
            border-color: $body-text;
        }
        
    } // .no-hover
    
} // button()


@mixin button-outline($color: $ucf-gray) {
        
    // DEFAULTS
    background: none;
    border: solid 2px $color;
    color: $color;
    text-shadow: none;
    
    // HOVER 
    &:hover {
        background: $color;
        color: $white;
        
        @if $color == $white {
            color: $ucf-gray-darker;    
        }
        
    } // :hover
    
} // button-outline()



//===========//
//  SHADOWS  //
//===========//

@mixin site-inner-inset-shadow($dark-border: false, $dark-fade-left: false, $dark-fade-bottom: false) {
    
    @if $dark-border == false {
        box-shadow:
            inset 1px 0 lighten($ucf-gray-med, .9),
            inset 7px 0 5px -7px rgba(0,0,0,.5);  
    } @else {
        box-shadow:
            inset 1px 0 $black,
            inset 7px 0 5px -7px rgba(0,0,0,.5);  
    }
    
    @if $dark-fade-left == true {
        box-shadow:
            inset 1px 0 $black,
            inset 7px 0 5px -7px rgba(0,0,0,.5),
            inset 750px 0 300px -250px rgba(0, 0, 0, 0.55);
    }
    
    @if $dark-fade-bottom == true {
        box-shadow:
            inset 1px 0 $black, inset 7px 0 5px -7px rgba(0, 0, 0, 0.5),
            inset 750px 0 300px -250px rgba(0, 0, 0, 0.55),
            inset 0 -50px 75px rgba(0,0,0,0.8);
    }

} // site-inner-inset-shadow()



//===============//
//  TRANSITIONS  //
//===============//

@mixin transition-ease-in-out($speed: 200ms) {
    transition: all ease-in-out $speed;
}



//===========//
//  COLUMNS  //
//===========//

@mixin col($width, $is-first: false) {
    
    float: left;
    
    @if $width == 'one-whole' {
        $is-first: true;
    }
    
    @if $is-first == true {
        clear: both;
        margin-left: 0;
    } @else {
        margin-left: 2.564102564102564%;   
    }
    
    @if $width == 'one-half' or
        $width == 'three-sixths' or
        $width == 'two-fourths' {
        width: 48.717948717948715%;
    }
    
    @else if $width == 'one-third' or
        $width == 'two-sixths' {
        width: 31.623931623931625%;
    }
    
    @else if $width == 'four-sixths' or
        $width == 'two-thirds' {
        width: 65.81196581196582%;
    }
    
    @else if $width == 'one-fourth' {
        width: 23.076923076923077%;
    }
    
    @else if $width == 'three-fourths' {
        width: 74.35897435897436%;
    }
    
    @else if $width == 'one-sixth' {
        width: 14.52991452991453%;
    }
    
    @else if $width == 'five-sixths' {
        width: 82.90598290598291%;
    }
    
    @else if $width == 'one-whole' {
        width: 100%;
        margin-left: 0;
        clear: both;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        float: none;
        clear: both;
        width: 100%;
        margin-left: 0;
    }
    
} // col()



//============//
//  CLEARFIX  //
//============//

@mixin clearfix() {

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
        content: " ";
        display: table;
    }
    
} // clearfix()
