//========================//
//  UCFBands V2 | Mixins  //
//========================//

@mixin block {
    background-color: $white;
    box-shadow: 0 1px 6px $trans-shadow;
    border: 1px solid $border-gray;
}

@mixin block-remove {
    background: none;
    box-shadow: none;
    border: none;
}

@mixin site-inner-inset-shadow($dark-border: false, $dark-fade: false) {
    
    @if $dark-border == false {
        box-shadow:
            inset 1px 0 lighten($ucf-gray-med, .9),
            inset 7px 0 5px -7px rgba(0,0,0,.5);  
    } @else {
        box-shadow:
            inset 1px 0 $black,
            inset 7px 0 5px -7px rgba(0,0,0,.5);  
    }
    
    @if $dark-fade == true {
        box-shadow:
            inset 1px 0 $black,
            inset 7px 0 5px -7px rgba(0,0,0,.5),
            inset 750px 0 300px -250px rgba(0, 0, 0, 0.55);
    }
}


//===============//
//  TRANSITIONS  //
//===============//

@mixin transition-ease-in-out($speed: 200ms) {
    transition: all ease-in-out $speed;
}



//===========//
//  COLUMNS  //
//===========//

@mixin col($width, $is-first: false) {
    
    float: left;
    
    @if $width == 'one-whole' {
        $is-first: true;
    }
    
    @if $is-first == true {
        clear: both;
        margin-left: 0;
    } @else {
        margin-left: 2.564102564102564%;   
    }
    
    @if $width == 'one-half' or
        $width == 'three-sixths' or
        $width == 'two-fourths' {
        width: 48.717948717948715%;
    }
    
    @else if $width == 'one-third' or
        $width == 'two-sixths' {
        width: 31.623931623931625%;
    }
    
    @else if $width == 'four-sixths' or
        $width == 'two-thirds' {
        width: 65.81196581196582%;
    }
    
    @else if $width == 'one-fourth' {
        width: 23.076923076923077%;
    }
    
    @else if $width == 'three-fourths' {
        width: 74.35897435897436%;
    }
    
    @else if $width == 'one-sixth' {
        width: 14.52991452991453%;
    }
    
    @else if $width == 'five-sixths' {
        width: 82.90598290598291%;
    }
    
    @else if $width == 'one-whole' {
        width: 100%;
        margin-left: 0;
        clear: both;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        float: none;
        clear: both;
        width: 100%;
        margin-left: 0;
    }
    
} // col
