//============================//
//  UCFBands V2 | Navigation  //
//============================//


// PRIMARY MENU //

.nav-primary {
    background: none;
    
    @media only screen and (max-width: $breakpoint-small) {
        display: none;
    }
}

.nav-primary .genesis-nav-menu {
    
    .menu-item {
        text-align: center;
        display: block;
        width: 100%;
        border-bottom: 1px solid $ucf-gray-darker;       
        
        &:first-child {
            border-top: 1px solid $ucf-gray-darker;
        }
        
        &:last-child {
            border-bottom: none;
        }
        
        a {
            padding: 18px;
            color: $white;
            font-family: $font-family-serif;
            font-weight: 400;
            font-size: 1.2em;
            text-shadow: $text-shadow-dark-med;

            @include transition-ease-in-out(300ms);

            &:hover {
                background-color: $ucf-gray-darker;
            }
            
            @media only screen and (max-width: $breakpoint-medium) {
                padding: 13px;
                font-size: 1em;
            }

        } // a
        
        &.current-menu-item a, &.current-menu item > a {
            background-color: $ucf-gold;
            text-shadow: $text-shadow-gold-med;
        }
        
    } // .menu-item

} // #menu-main-menu



// MOBILE PRIMARY MENU //

.menu-btn {
    display: none;
    position: relative;
    float: right;
	margin-top: 18px;
    margin-right: 18px;
    padding: 9px 10px;
    margin-bottom: 8px;
	background-color: $ucf-gray-darker;
    background-image: none;
    border: 1px solid $ucf-gold;
	border-radius: 0px;
    
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: $white;
    }
    
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    
    &:hover, &:focus {
        background-color: $ucf-gold;
        border-color: $ucf-gold-darker;
    }
    
    
    @media only screen and (max-width: $breakpoint-small) {
        display: block; 
    }
    
} // .menu-btn


nav.pushy.nav-primary {
    background: $ucf-gray;
    width: $site-header-width-mobile;
    box-shadow: 0 0 15px $black;
    border-right: 4px solid $ucf-gold;
   
    &.nav-primary {
        
        @media only screen and (max-width: $breakpoint-small) {
            display: block; 
        }
    }
    
    .menu-item {
    
        &:first-child {
            border-top: 0;   
        }
        
        a {
            padding: 14px;
        }
    }
    
} // nav.pushy

.pushy-left{
    transform: translate3d(-$site-header-width-mobile, 0, 0);
    /* Don't forget the vendor prefixes */
}

.container-push, .push-push{
    transform: translate3d(-$site-header-width-mobile, 0, 0);
    /* Don't forget the vendor prefixes */
}


// SECTION MENU //

nav.section-menu {
    position: absolute;
    right: 0;
    bottom: -5px;
    margin: 0;
	padding: 0;
	border: none;
    
    @media only screen and (max-width: $breakpoint-medium) {
        position: static;
        margin-bottom: -5px;
    }
    
    ul {
        @media only screen and (max-width: $breakpoint-medium) {
            background: $ucf-gray;
            border-top: 4px solid $ucf-gray-darker;
        }
    
        li {
            display: inline-block;
            float: left;
            margin: 0;
            padding: 0;
            
            @media only screen and (max-width: $breakpoint-medium) {
                width: 33%;
            }
            
            @media only screen and (max-width: $breakpoint-small) {
                width: 33%;   
            }
            
            @media only screen and (max-width: $breakpoint-extra-small) {
                width: 50%;
            }
            
            @media only screen and (max-width: $breakpoint-extra-extra-small) {
                width: 100%;   
            }
            
            a {
                display: inline-block;
                margin: 0;
                padding: 15px;
                padding-top: 9px;
                padding-bottom: 13px;
                color: $white;
                font-size: 1.05em;
                letter-spacing: .03em;
                font-weight: 700;
                text-decoration: none;
                text-shadow: $text-shadow-dark-med;
                
                @include transition-ease-in-out();
                
                &:hover {
                    text-decoration: none;
                    box-shadow: inset 0px -5px $ucf-gold;
                    color: $ucf-gold;
                }
                
                @media only screen and (max-width: $breakpoint-medium) {
                    width: 100%;
                    text-align: center;
                    text-shadow: none;
                    box-shadow: inset 0 -5px 0 $ucf-gray-darker;
                }
     
            } // a
        
            &.current-menu-item {
                a {
                    color: $ucf-gold;
                    box-shadow: inset 0px -5px $ucf-gold;
                }
            }
            
            .sub-menu {
                width: 150px;
                
                @include block();
                
                li {
                    border-bottom: 1px solid $ucf-gray-light;
                    
                    a {
                        display: inline-block;
                        width: 148px;
                        padding: $space-default-half - 6px;
                        text-shadow: none;
                        color: darken($ucf-gray-med, 20);
                        box-shadow: none;
                        border: 0;

                        &:hover {
                            background: $ucf-gray-light;
                            color: $ucf-gray;
                        }
                    } // a
                    
                    &.current-menu-item {
                        
                        a:hover {
                            color: $ucf-gray;
                        }
                    }
                    
                } // li
                
            } // .sub-menu
            
        } // li
    
    } // ul
    
} // nav.section-menu