//============================//
//  UCFBands V2 | Navigation  //
//============================//


// PRIMARY MENU //

.nav-primary {
    background: none;

    @include breakpoint( small ) {
        display: none;
    }

} // .nav-primary


.nav-primary .genesis-nav-menu {
    position: relative;

    .menu-item {
        // text-align: center;
        display: block;
        width: 100%;
        // border-bottom: 1px solid $ucf-gray-darker;

        // &:first-child {
        //     border-top: 1px solid $ucf-gray-darker;
        // }

        // &:last-child {
        //     border-bottom: none;
        // }

        a {
            padding: 18px 18px 18px 30px;
            color: $white;
            font-family: $font-family-serif;
            font-size: 16px;
            letter-spacing: 0.3px;

            @include transition-ease-in-out(300ms);

            &:hover {
                background-color: $ucf-gray-darker;
            }

            @include breakpoint( medium ) {
                padding: 13px;
                font-size: 1em;
            }

        } // a

        &.current-menu-item a, &.current-menu item > a {
            background-color: $ucf-gold;
            text-shadow: $text-shadow-gold-med;
        }

    } // .menu-item

} // #menu-main-menu



// MOBILE PRIMARY MENU //

.menu-btn {
    display: none;
    position: relative;
    float: right;
    // margin: 12px 20px 0 0;
	// margin-top: 18px;
    // margin-right: 18px;
    padding: 9px 10px;
    // margin-bottom: 8px;
    margin: 0;
    width: $site-header-mobile-height;
    height: $site-header-mobile-height;
    background-color: $ucf-gray-darker;
    background-color: $ucf-gold;
    background-image: none;
    border: 1px solid $ucf-gold;
	border-radius: 0px;

    .icon-bar {
        display: block;
        margin: 0 auto;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: $white;
    }

    .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    } // .sr-only

    &:hover, &:focus {
        background-color: $ucf-gold;
        border-color: $ucf-gold-darker;
    }


    @include breakpoint( small ) {
        display: block;
    }

} // .menu-btn


nav.pushy.nav-primary {
    background: $ucf-gray;
    border-left: 4px solid $ucf-gold;

    &.nav-primary {

        @include breakpoint( small ) {
            display: block;
        }

    } // .nav-primary

    .menu-item {

        &:first-child {
            border-top: 0;
        }

        a {
            padding: 14px;
        }

    } // .menu-item

} // nav.pushy



// SECTION MENU //

nav.section-menu {
    position: absolute;
    right: 0;
    bottom: -5px;
    margin: 0;
	padding: 0;
	border: none;

    @include breakpoint( medium ) {
        position: static;
        margin-bottom: -5px;
    }

    ul {
        @include breakpoint( medium ) {
            background: $ucf-gray;
            border-top: 4px solid $ucf-gray-darker;
        }

        li {
            display: inline-block;
            margin: 0;
            padding: 0;

            @include breakpoint( medium ) {
                width: 33%;
            }

            @include breakpoint( small ) {
                width: 33%;
            }

            @include breakpoint( extra-small ) {
                width: 50%;
            }

            @media only screen and (max-width: $breakpoint-extra-extra-small) {
                width: 100%;
            }

            a {
                display: inline-block;
                margin: 0;
                padding: 15px;
                padding-top: 9px;
                padding-bottom: 13px;
                color: $white;
                font-size: 1.05em;
                letter-spacing: .03em;
                font-weight: 700;
                text-decoration: none;
                // text-shadow: $text-shadow-dark-med;

                @include transition-ease-in-out();

                &:hover {
                    text-decoration: none;
                    box-shadow: inset 0px -5px $ucf-gold;
                    color: $ucf-gold;
                }

                @include breakpoint( medium ) {
                    width: 100%;
                    text-align: center;
                    text-shadow: none;
                    box-shadow: inset 0 -5px 0 $ucf-gray-darker;
                } // breakpoint-medium

            } // a

            &.current-menu-item {

                a {
                    color: $ucf-gold;
                    box-shadow: inset 0px -5px $ucf-gold;
                }

            } // .current-menu-item

            .sub-menu {
                width: 150px;

                @include block();

                li {
                    border-bottom: 1px solid $ucf-gray-light;

                    a {
                        display: inline-block;
                        width: 148px;
                        padding: $space-default-half - 6px;
                        text-shadow: none;
                        color: darken($ucf-gray-med, 20);
                        box-shadow: none;
                        border: 0;

                        &:hover {
                            background: $ucf-gray-light;
                            color: $ucf-gray;
                        }

                    } // a

                    &.current-menu-item {

                        a:hover {
                            color: $ucf-gray;
                        }

                    } // .current-menu-item

                } // li

            } // .sub-menu

        } // li

    } // ul

} // nav.section-menu
