//=============================//
//  UCFBANDS V2 | SITE HEADER  //
//=============================//

#top-bar {
    position: fixed;
    width: 100%;
    height: 2px;
    background: $black;
    z-index: 9800;

    @include breakpoint( small ) {
        display: none;
    }

} // #top-bar

.site-header {
	z-index: 9700;
    position: fixed;
    margin: 0;
    padding: 0;
    width: $site-header-width;
    color: $white;
    text-align: center;
    background: $ucf-gray;

    a {
        color: $white;
    }

    .wrap {
        margin: 0;
        padding: 0;
    }

    @include breakpoint( medium ) {
        width: $site-header-width-med;
    }

    // If the height is too small for the width with full menu
    @include breakpoint( large-width-with-small-height ) {
        position: absolute;
    }

    @include breakpoint( smaller-than-medium-width-with-large-height ) {
        position: fixed;
    }

    @include breakpoint( smaller-than-medium-width-with-smaller-than-medium-height ) {
        position: absolute;
    }

    @include breakpoint( small ) {
        position: fixed;
        top: 0;
        width: 100%;
        height: $site-header-mobile-height;
        min-height: 0;
        padding-left: 10px;
        border-bottom: 4px solid $ucf-gold;
    } // breakpoint-small

} // .site-header

// Mobile Fix
.header-full-width .title-area {

    @include breakpoint( small ) {
        width: auto;
    }

} // .header-full-width .title-area

.site-header .header-widget-area {
    float: none;
    text-align: left;
    width: 100%;
}

.title-area {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

    @include breakpoint( small ) {
        position: absolute;
        left: 10px;
        width: auto;
        padding: 0;
    }
} // .title-area

.header-image .site-title > a {
    position: relative;
    margin: 0 0 30px 0;
    width: 100%;
    background: none;
    border: none;

    // gradient background
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: -60px;
        right: 0;
        background: linear-gradient( to bottom, #060606, $ucf-gray );
        @include transition-ease-in-out();
    }

    @include transition-ease-in-out();

    &:hover {

        &:before {
            top: -50px;
            bottom: -10px;
        }

        svg {
            border-bottom-width: 7px;
            border-bottom-color: $white;
        }
    }

    svg {
        position: relative;
        margin-left: 30px;
        display: block;
        width: 90px;
        border-bottom: 5px solid $ucf-gold;
        @include transition-ease-in-out();
    }

    @include breakpoint( medium ) {

        svg {
            margin-left: 14px;
        }
    }

    @include breakpoint( small ) {
        min-height: 0;
        width: 125px;
        width: auto;
        margin: 0;

        &:before {
            display: none;
        }

        svg {
            margin: 0;
            width: 60px;
            height: auto;
            border-bottom-width: 4px;
        }
    } // breakpoint-small
} // .header-image .site-title > a

.site-description {
    color: $white;
}
