//=======================//
//  UCFBANDS V2 | STAFF  //
//=======================//

.post-type-archive-ucfbands_staff {

    .block-header {
        display: inline-block;
        margin: 0;

        @include breakpoint( extra-small ) {
            width: 100%;
        }

    } // .block-header

    .staff-meta {
        display: inline;
    }

    img.staff-img {
        border: 1px solid $ucf-gray-light;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

        @include breakpoint( extra-small ) {
            clear: both;
            float: none;
            margin-left: 0;
            margin-right: 0;
        } // breakpoint-extra-small

    } // img

    .section-page-title {
        display: inline-block;
    }

    .to-staff-button {
        float: right;
        margin-right: 3%;

        @include breakpoint( small-medium ) {
            margin: $space-default;
        }

        @include breakpoint( extra-small ) {
            margin: $space-default-half + 10px;
        }

    } // .to-staff-button


} // .post-type-archive-ucfbands_staff
