//===========================//
//  UCFBands V2 | Structure  //
//===========================//


//========//
//  BODY  //
//========//

body {
    background: $ucf-gray;
    
    @media only screen and (max-width: $breakpoint-small) {
        padding-top: $site-header-mobile-height + 4px; // Header Height + border 
    }
}


//==========//
//  SLIDER  //
//==========//

.ucfbands-slider-wrap {
    box-shadow: inset 2px 0 $black, inset 7px 0 5px -7px rgba(0,0,0,.5), 0 1px 0 $black, 0 6px 0 $ucf-gold, 0 7px 0 $ucf-gray-med, 0 8px 6px $trans-shadow;
}



//==============//
//  SITE INNER  //
//==============//

.site-inner,
.wrap {
    margin: 0;
    max-width: none;
}

.site-inner {
    clear: none;
    margin-left: $site-header-width;
    padding: 0;
    border-left: 5px solid $ucf-gold;
    background: $ucf-gray-light;

    @include site-inner-inset-shadow();
    
    @media only screen and (max-width: $breakpoint-medium) {
        margin-left: $site-header-width-med;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        margin-left: 0;
        border-left: 0;
        border-bottom: 5px solid $ucf-gold;
    }
    
}


//================================//
//  GENESIS CONTENT-SIDBAR WRAPS  //
//================================//

.content-sidebar-wrap {
    padding: $space-default;
    overflow: auto;
    min-height: 1000px;
    
    background-image: url('images/pegasus-bg.png');
    background-repeat: no-repeat;
    background-position: -100px 25px;
    
    @media only screen and (max-width: $breakpoint-small-medium) {
        padding: $space-default-half;
    }
}

body.masonry-page .content-sidebar-wrap {
    padding: $masonry-gutter-width;
    padding-right: 0;
}


body.content-sidebar-wrap-disable-padding .content-sidebar-wrap {
    padding: 0;
}


//===========//
//  CONTENT  //
//===========//

.content {
    
    @include col('three-fourths', true);
    
    .post, .page {
        @include block();
    }
    
    .type-page h1 {
        border-bottom: 1px solid $ucf-gray-light;
        padding-bottom: $space-default-half;
        margin-bottom: $space-default-half;
    }
    
    @media only screen and (max-width: $breakpoint-extra-large) {
        margin: 0;
        width: 100%;
    }
    
} // .content

.error404 {
    
    article {
        @include block();
    }
    
}

body.masonry-page .pagination {
    margin: 0;
    text-align: center;
}



//============//
//  SIDEBARS  //
//============//

.sidebar-primary {
    @include col('one-fourth');
    
    .widget {
        @include block();
    }
    
    @media only screen and (max-width: $breakpoint-extra-large) {
        clear: both;
        width: 100%;
        margin: 0;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        
        .widget {
            padding: $space-default-half;   
        }
    }
}



//==========//
//  FOOTER  //
//==========//

.site-footer {
    position: fixed;
    margin: 0;
    padding: $space-default;
    left: 0;
    bottom: 0;
    width: $site-header-width;
    background: $ucf-gray;
    color: $ucf-gray-med;
    text-align: left;
    font-size: .9em;
    line-height: 1.25em;
    font-family: $font-family-serif;
    text-shadow: $text-shadow-dark-med;
    
    a {
        color: $white;
        border-bottom: 2px solid $trans-full;
        
        @include transition_ease_in_out();
        
        &:hover {
            border-color: $ucf-gold;
        }
    }
    
    address {
        box-sizing: border-box;
        font-style: normal;
        margin-bottom: 10px;
        
        a {
            color: inherit;
            border: none;
            
            &:hover {
                color: $white;
            }
        }
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        width: $site-header-width-med;
        padding: $space-default-half;
        font-size: .8em;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        position: static;
        padding: $space-default;
        width: 100%;
        border-top: 5px solid $ucf-gray-darkest;
        font-size: 1em;
        
        .wrap {
            padding: 0;
        }
    }  
    
    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-medium) and (max-height: $breakpoint-large) {
        z-index: 750;
        box-shadow: 0 -20px 20px -20px $black;
    }  
    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-large) and (min-height: $breakpoint-medium) {
        z-index: 750;
        box-shadow: 0 -20px 20px -20px $black;
    }  
    
} // .site-footer

#footer-social {
    height: auto;
    overflow: auto;
    
    a {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        width: 40px;
        font-size: .9em;
        text-align: center;
        border-radius: 7px;
        border: none;
        color: $white;
        background-color: rgba(0,0,0,0.5);
        
        @include transition-ease-in-out();
        
        &:hover {
            color: $ucf-gold;
        }
    }
}
