//===========================//
//  UCFBands V2 | Structure  //
//===========================//


//==========//
//  GLOBAL  //
//==========//

#googleMap * {
    box-shadow: none;
}



//========//
//  BODY  //
//========//

body {
    background: $ucf-gray;
    
    @media only screen and (max-width: $breakpoint-small) {
        padding-top: $site-header-mobile-height + 4px; // Header Height + border 
    }
    
} // body



//==========//
//  SLIDER  //
//==========//

.ucfbands-slider-wrap {
    box-shadow: inset 2px 0 $black, inset 7px 0 5px -7px rgba(0,0,0,.5), 0 1px 0 $black, 0 6px 0 $ucf-gold, 0 7px 0 $ucf-gray-med, 0 8px 6px $trans-shadow;
}



//==============//
//  SITE INNER  //
//==============//

.site-inner,
.wrap {
    margin: 0;
    max-width: none;
}

.site-inner {
    clear: none;
    margin-left: $site-header-width;
    padding: 0;
    border-left: 5px solid $ucf-gold;
    background: $ucf-gray-light;

    @include site-inner-inset-shadow();
    
    @media only screen and (max-width: $breakpoint-medium) {
        margin-left: $site-header-width-med;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        margin-left: 0;
        border-left: 0;
        border-bottom: 5px solid $ucf-gold;
    }
    
} // .site-inner



//================================//
//  GENESIS CONTENT-SIDBAR WRAPS  //
//================================//

.content-sidebar-wrap {
    padding: $space-default;
    overflow: auto;
    min-height: 1000px;
    
    background-image: url('images/pegasus-bg.png');
    background-repeat: no-repeat;
    background-position: -100px 25px;
    
    @media only screen and (max-width: $breakpoint-small-medium) {
        padding: $space-default-half;
    }

    @media only screen and (max-width: $breakpoint-small) {
        min-height: 0;
    }
    
} // .content-sidebar-wrap

body.masonry-page .content-sidebar-wrap {
    padding: $masonry-gutter-width;
    padding-right: 0;
}


body.content-sidebar-wrap-disable-padding .content-sidebar-wrap {
    padding: 0;
}



//============//
//  SIDEBARS  //
//============//

.sidebar-primary {
    @include col('one-fourth');
    
    .widget {
        @include block();
    }
    
    @media only screen and (max-width: $breakpoint-extra-large) {
        clear: both;
        width: 100%;
        margin: 0;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        
        .widget {
            padding: $space-default-half;   
        }
        
    } // breakpoint-medium
    
} // .sidebar-primary



//===========//
//  COLUMNS  //
//===========//

.one-half, .three-sixths, .two-fourths {
    @include col( 'one-half' );
}

.one-third, .two-sixths {
    @include col( 'one-third' );
}

.four-sixths, .two-thirds {
    @include col( 'two-thirds' );
}

.one-fourth {
    @include col( 'one-fourth' );
}

.three-fourths {
    @include col( 'three-fourths' );
}

.one-sixth {
    @include col( 'one-sixth' );
}

.five-sixths {
    @include col( 'five-sixths' );
}

.one-whole {
    @include col( 'one-whole' );
}