//===========================//
//  UCFBands V2 | Structure  //
//===========================//


//========//
//  BODY  //
//========//

body {
    background: $ucf-gray;
    
    @media only screen and (max-width: $breakpoint-small) {
        padding-top: $site-header-mobile-height + 4px; // Header Height + border 
    }
}


//===============//
//  SITE HEADER  //
//===============//

#top-bar {
    position: fixed;
    width: 100%;
    height: 2px;
    background: $black;
    z-index: 5000;
    
    @media only screen and (max-width: $breakpoint-small) {
        display: none;
    }
}

.site-header {
	z-index: 700;
    position: fixed;
    margin: 0;
    padding: 0;
    width: $site-header-width;
    color: $white;
    text-align: center;
    background: $ucf-gray;
    
    a {
        color: $white;
    }
    
    .wrap {
        margin: 0;
        padding: 0;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        width: $site-header-width-med;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        top: 0;
        width: 100%;
        min-height: 0;
        padding-left: 10px;
        border-bottom: 4px solid $ucf-gold;
    } // breakpoint-small
    

    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-medium) and (max-height: $breakpoint-medium) {
        position: absolute;
    }    
    
    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-large) and (max-height: $breakpoint-large) {
        position: absolute;
    }
    
} // .site-header

.site-header .header-widget-area {
    float: none;
    text-align: left;
    width: 100%;
}

.title-area {
    margin: 0;
    padding: 12px 0 8px 0;
    display: block;
    width: 100%;
}

.header-full-width .title-area {
    
    @media only screen and (max-width: $breakpoint-small) {
        float: left;
        width: auto;
        padding: 0;
    }
}

.header-image .site-title > a {
    margin: 0;
    padding: 0;
    min-height: 150px;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: 81.5%;
    border: none;
    
    @include transition-ease-in-out();
    
    &:hover {
        background-color: $ucf-gray-darker;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        min-height: 100px;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        min-height: 0;
        height: $site-header-mobile-height;
        width: 125px;
        background-size: 100%;
        
        &:hover {
            background-color: $ucf-gray;
        }
    }
}

.site-description {
    color: $white;
}


//===============//
//  PAGE HEADER  //
//===============//

.page-header {
    position: relative;
    overflow: visible;//auto;
    background-color: $ucf-gray;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    border-bottom: 5px solid $ucf-gray-darker;
    
    @include site-inner-inset-shadow(true, true, true);
    
    .page-header-inner {
        padding: $space-default;
        padding-left: $space-default + 32px;
    }
    
    &.page-header-lg {
        
        .page-header-inner {
            padding: ($space-default + 32px);// $space-default;
        
            @media only screen and (max-width: $breakpoint-small) {
                padding: ($space-default + 25px) $space-default;
            }
            
            @media only screen and (max-width: $breakpoint-extra-small) {
                padding: ($space-default + 10px) $space-default;
            }
            
            @media only screen and (max-width: $breakpoint-extra-extra-small) {
                padding: $space-default-half;
            }
        } // .page-header-inner
    } // .page-header-lg
    
    &.remove-background-fade {
        @include site-inner-inset-shadow(true, false);
    }
    
    h1.entry-title {
        display: block;
        margin: 0;
        padding: 0;
        color: $white;
        text-shadow: $text-shadow-dark-lg;
        font-size: 2.75em;
        cursor: default;
        
        @media only screen and (max-width: $breakpoint-extra-small) {
            font-size: 2.5em;
        }
    }
    
    .conductor-name {
        display: inline-block;
        margin: 2px 0 0 4px;
        font-style: italic;
        color: $white;
        text-shadow: $text-shadow-dark-med;
        cursor: default;
    }
    
    a {
        
        h1.entry-title {
            
            @include transition-ease-in-out();

            &:hover {
                color: $ucf-gold;
                cursor: pointer;
            }
            
        } // h1.entry-title
        
    } // a
    
    
    @media only screen and (max-width: $breakpoint-small) {
        
        background-position: top center;
        text-align: center;
        box-shadow: inset 0 0 500px 500px rgba(0,0,0,0.4);
        
        .conductor-name {
            margin: 5px 0 0 0;
        }
        
    } // breakpoint-small
    
} // .page-header



//==========//
//  SLIDER  //
//==========//

.ucfbands-slider-wrap {
    box-shadow: inset 2px 0 $black, inset 7px 0 5px -7px rgba(0,0,0,.5), 0 1px 0 $black, 0 6px 0 $ucf-gold, 0 7px 0 $ucf-gray-med, 0 8px 6px $trans-shadow;
}



//==============//
//  SITE INNER  //
//==============//

.site-inner,
.wrap {
    margin: 0;
    max-width: none;
}

.site-inner {
    clear: none;
    margin-left: $site-header-width;
    padding: 0;
    border-left: 5px solid $ucf-gold;
    background: $ucf-gray-light;

    @include site-inner-inset-shadow();
    
    @media only screen and (max-width: $breakpoint-medium) {
        margin-left: $site-header-width-med;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        margin-left: 0;
        border-left: 0;
        border-bottom: 5px solid $ucf-gold;
    }
    
}


//================================//
//  GENESIS CONTENT-SIDBAR WRAPS  //
//================================//

.content-sidebar-wrap {
    padding: $space-default;
    overflow: auto;
    min-height: 1000px;
    
    background-image: url('images/pegasus-bg.png');
    background-repeat: no-repeat;
    background-position: -100px 25px;
    
    @media only screen and (max-width: $breakpoint-small-medium) {
        padding: $space-default-half;
    }
}

body.page-template-page_section_grid .content-sidebar-wrap,
body.page-template-page_grid .content-sidebar-wrap {
    padding: $masonry-gutter-width;
    padding-right: 0;
}


body.content-sidebar-wrap-disable-padding .content-sidebar-wrap {
    padding: 0;
}


//===========//
//  CONTENT  //
//===========//

.content {
    
    @include col('three-fourths', true);
    
    .post, .page {
        @include block();
    }
    
    .type-page h1 {
        border-bottom: 1px solid $ucf-gray-light;
        padding-bottom: $space-default-half;
        margin-bottom: $space-default-half;
    }
    
    @media only screen and (max-width: $breakpoint-extra-large) {
        margin: 0;
        width: 100%;
    }
    
} // .content

.error404 {
    
    article {
        @include block();
    }
    
}



//=================//
//  ENTRY & BLOCK  //
//=================//

.entry {
    margin-bottom: $space-default;
    padding: $space-default;
    
    
    @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: $space-default-half;
        padding: $space-default-half;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        margin-bottom: $space-default-half;
        padding: $space-default-half;
    }
} // .entry


.entry-content {
    
    img {
        border: 1px solid $ucf-gray-light;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        
        &.no-border {
            border: none;
            box-shadow: none;
        }
        
        @media only screen and (max-width: $breakpoint-extra-small) {
            clear: both;
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    .wp-caption {
        
        @media only screen and (max-width: $breakpoint-extra-small) {
            clear: both;
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
} // .entry-content



.block {
    @include block();
    
    &.block-featured {        
        border-top: 5px solid $ucf-gold;
        border-bottom: 5px solid $ucf-gray;
    }
    
    h2 { 
        cursor: default;
    }
    
    &.block-remove-background-padding {
        padding: 0;
        border: 0;
        background: none;
        box-shadow: none;
    }
    
} // .block



//======================================//
//  HERO (Bootstrap "Jumbotron" Thing)  //
//======================================//

.hero {
    
    // GENERAL
    display: block;
    width: 100%;
    padding: $space-default;
    clear: both;
    text-align: center;
    color: $white;
    border-bottom: 5px solid $ucf-gold-darker;
//    box-shadow: 2px 2px 0 2px $ucf-gray-med-light;
    box-shadow: 4px 0px 4px rgba(0,0,0,0.5); //, inset 0 -1px $ucf-gray-med-light;
    
//    background-size: 100% !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-clip: border-box !important;
    
    // PADDING
    &.hero-padding-sm {
        padding: $space-default;   
    }
    
    &.hero-padding-med {
        padding: ($space-default * 2);
    }
    
    &.hero-padding-lg {
        padding: ($space-default * 3);
    }
    
    // COLOR
    &.hero-gold {
        background: $ucf-gold;
        
        h2, p {
            text-shadow: 0 1px 8px $ucf-gold-darker, 0 0 2px $ucf-gold-darker;
        }
        
        .button {
            box-shadow: 0 1px 5px $ucf-gold-darker;
        }
    }
    
    &.hero-gray {
        background: $ucf-gray;   
    }
    
    &.hero-red {
        background: $red;
    }
    
    &.hero-green {
        background: $green;
    }
    
    &.hero-blue {
        background: $blue;
    }
    
    // TITLE
    h2 {
        font-size: 3.2em;
        color: $white;   
        text-shadow: 0 1px 7px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.15);
        cursor: default;
    }
    
    // CONTENT
    p {
        margin: 0;
        font-size: 1.5em;
        color: $white;
        text-shadow: 0 1px 4px rgba(0,0,0,0.4);
        cursor: default;
    }
    
    .button {
        box-shadow: 0 1px 5px rgba(0,0,0,0.25);
        letter-spacing: .05em;
    }
    
} // .hero



//============//
//  SIDEBARS  //
//============//

.sidebar-primary {
    @include col('one-fourth');
    
    .widget {
        @include block();
    }
    
    @media only screen and (max-width: $breakpoint-extra-large) {
        clear: both;
        width: 100%;
        margin: 0;
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        
        .widget {
            padding: $space-default-half;   
        }
    }
}



//==========//
//  FOOTER  //
//==========//

.site-footer {
    position: fixed;
    margin: 0;
    padding: $space-default;
    left: 0;
    bottom: 0;
    width: $site-header-width;
    background: $ucf-gray;
    color: $ucf-gray-med;
    text-align: left;
    font-size: .9em;
    line-height: 1.25em;
    font-family: $font-family-serif;
    text-shadow: $text-shadow-dark-med;
    
    a {
        color: $white;
        border-bottom: 2px solid $trans-full;
        
        @include transition_ease_in_out();
        
        &:hover {
            border-color: $ucf-gold;
        }
    }
    
    address {
        box-sizing: border-box;
        font-style: normal;
        margin-bottom: 10px;
        
        a {
            color: inherit;
            border: none;
            
            &:hover {
                color: $white;
            }
        }
    }
    
    @media only screen and (max-width: $breakpoint-medium) {
        width: $site-header-width-med;
        padding: $space-default-half;
        font-size: .8em;
    }
    
    @media only screen and (max-width: $breakpoint-small) {
        position: static;
        padding: $space-default;
        width: 100%;
        border-top: 5px solid $ucf-gray-darkest;
        font-size: 1em;
        
        .wrap {
            padding: 0;
        }
    }  
    
    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-medium) and (max-height: $breakpoint-large) {
        z-index: 750;
        box-shadow: 0 -20px 20px -20px $black;
    }  
    // If the height is too small for the width with full menu
    @media only screen and (max-height: $breakpoint-height-large) and (min-height: $breakpoint-medium) {
        z-index: 750;
        box-shadow: 0 -20px 20px -20px $black;
    }  
    
} // .site-footer

#footer-social {
    height: auto;
    overflow: auto;
    
    a {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        width: 40px;
        font-size: .9em;
        text-align: center;
        border-radius: 7px;
        border: none;
        color: $white;
        background-color: rgba(0,0,0,0.5);
        
        @include transition-ease-in-out();
        
        &:hover {
            color: $ucf-gold;
        }
    }
}
