//============================//
//  UCFBands V2 | Typography  //
//============================//


//========//
//  BODY  //
//========//

body {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    &.font-style-athletic {
        
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-family-athletic;   
        }
        
        h1 {
            letter-spacing: .035em;
        }
    }
}


//============//
//  HEADINGS  //
//============//

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-serif;
}


//===========//
//  ANCHORS  //
//===========//

a {
    color: $ucf-gold;
    text-decoration: none;
}

p a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: $ucf-gold-darker;
    border-bottom: 2px solid $trans-full;
    
    @include transition-ease-in-out;
    
    &:hover {
        color: inherit;
        border-bottom-color: $ucf-gold;
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom-width: 3px;
    
    &:hover {
        color: $ucf-gray;
    }
}

.entry-title a {
    
    &:hover {
        color: $ucf-gray;
    }  
}



//=============================//
//  UNORDERED & ORDERED LISTS  //
//=============================//

.entry-content ul {

    > li {
        list-style-image: url('images/bullets/bullet-black.png');
    }
    
    &.blue > li {
            list-style-image: url('images/bullets/bullet-blue.png');
    }
    
    &.green > li {
            list-style-image: url('images/bullets/bullet-green.png');
    }

    &.red > li {
            list-style-image: url('images/bullets/bullet-red.png');
    }

    &.gold > li {
            list-style-image: url('images/bullets/bullet-gold.png');
    }
    
    &.checkmark > li {
            list-style-image: url('images/bullets/bullet-checkmark.png');
    }
    
} // .entry-content ul



//===================//
//  HORIZONTAL RULE  //
//===================//

hr {
    margin: $space-default 0;
    border: 0;
    border-bottom: 1px solid $ucf-gray-med-light;
}

//================//
//  MKMC & ADMIN  //
//================//

i.mkmc-note {
    border-bottom: 1px solid $ucf-gold;
}

