//============================//
//  UCFBands V2 | Typography  //
//============================//


//========//
//  BODY  //
//========//

body {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;

    // &.font-style-athletic {

    //     h1, h2, h3, h4, h5, h6 {
    //         font-family: $font-family-athletic;
    //     }

    //     h1 {
    //         letter-spacing: .035em;
    //     }

    // } // .font-style-athletic

} // body



//============//
//  HEADINGS  //
//============//

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-serif;
    font-weight: 700;
    text-transform: uppercase;
    // letter-spacing: 0.5px;
}

h1.section-page-title {
    margin-bottom: $space-default;
    text-shadow: $text-shadow-white-lg;

    @include breakpoint( small-medium ) {
        display: block;
        margin: $space-default $space-default 0 $space-default;
        padding-bottom: $space-default-half;
        border-bottom: 1px solid $ucf-gray-light;
    }

    @include breakpoint( extra-small ) {
        margin: ($space-default-half + 10px) ($space-default-half + 10px) 0 ($space-default-half + 10px);
    }
}

h2 {
    font-size: 28px;

    &.block-header, &.block-title {
        margin-bottom: 30px;

        &:after {
            content: '';
            display: block;
            margin-top: 7px;
            width: 40px;
            height: 3px;
            background: $ucf-gold;
        }

        .block-remove-background-padding & {

            &:after {
                display: none;
            }
        }
    }
} // h2

h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
}



//===========//
//  ANCHORS  //
//===========//

a {
    color: $ucf-gold;
    text-decoration: none;

    &:active, &:hover, &:focus {
        text-decoration: none;
    }

} // a

p a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: $body-text;
    border-bottom: 2px solid $trans-full;

    @include transition-ease-in-out;

    &:hover {
        color: inherit;
        border-bottom-color: $ucf-gold;
    }

} // header anchords

p a {
    color: $ucf-gold-darker;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom-width: 3px;

    &:hover {
        color: $ucf-gray;
    }

} // header anchors

.entry-title a {

    &:hover {
        color: $ucf-gray;
    }

} // .entry-title a



//=============================//
//  UNORDERED & ORDERED LISTS  //
//=============================//

.entry-content ul {
    margin-left: $space-default-half + 10px;

    > li {
        list-style-image: url('images/bullets/bullet-gold.png');
    }

    &.blue > li {
        list-style-image: url('images/bullets/bullet-blue.png');
    }

    &.green > li {
        list-style-image: url('images/bullets/bullet-green.png');
    }

    &.red > li {
        list-style-image: url('images/bullets/bullet-red.png');
    }

    &.gold > li {
        list-style-image: url('images/bullets/bullet-gold.png');
    }

    &.black > li {
        list-style-image: url('images/bullets/bullet-black.png');
    }

    &.checkmark > li {
        list-style-image: url('images/bullets/bullet-checkmark.png');
    }

} // .entry-content ul



//===================//
//  HORIZONTAL RULE  //
//===================//

hr {
    margin: $space-default 0;
    border: 0;
    border-bottom: 1px solid $ucf-gray-med-light;
}



//===========//
//  BUTTONS  //
//===========//

.button {
    padding: 12px 22px;

    @include button();
    @include transition-ease-in-out(175ms);


    //-- SIZES --//

    // Extra Small
    &.button-xsm {
        padding: 5px 8px;
        font-size: .45em;
    }

    // Small
    &.button-sm {
        padding: ($space-default-half - 17px) ($space-default-half - 10px);
        font-size: .75em;
    }

    // Medium
    &.button-med {
        padding: 12px 22px;
    }

    // Large
    &.button-lg {
        padding: 16px 34px;
        font-size: 18px;
    }


    //-- ALTERNATIVE COLORS --//

    &.button-gold {
        @include button($white, $text-shadow-gold-med, $ucf-gold, $ucf-gold-darker);
    }

    &.button-red {
        @include button($white, $text-shadow-red-med, $red, $red-darker);
    }

    &.button-green {
        @include button($white, $text-shadow-green-med, $green, $green-darker);
    }

    &.button-blue {
        @include button($white, $text-shadow-blue-med, $blue, $blue-darker);
    }

    &.button-white {
        @include button($ucf-gray-med, none, $white, $ucf-gray-med);
    }


    //-- OUTLINE --//
    &.button-outline {

        @include button-outline();

        &.button-gold {
            @include button-outline($ucf-gold);
        }

        &.button-red {
            @include button-outline($red);
        }

        &.button-green {
            @include button-outline($green);
        }

        &.button-blue {
            @include button-outline($blue);
        }

        &.button-white {
            @include button-outline($white);
        }

    } // .button-outline

} // .button

.entry-content .dropdown {
    display: inline-block;
}

.entry-content ul.dropdown-menu {
    margin: 0;
    border-radius: 0;

    @include block();

    li {
        font-size: 16px;
        list-style-type: none;
        list-style-image: none;
    }

    > li > a {
        padding: 6px $space-default-half;
    }

} // Boostrap Dropdown Menu

.caret {
    margin-left: 10px;
}


// Athletic Font family on Lg button
// body {

//     &.font-style-athletic {

//         .button {

//             &.button-lg {
//                 font-family: $font-family-athletic;
//             }

//         } // .button

//     } // .font-style-athletic

// } // body


.block-title {

    .button-xsm {
        position: relative;
        top: -6px;
        margin-left: 4px;

        &.button-white {
            border: 1px solid $ucf-gray-med-light;
        }
    }
} // .block-title



//=================//
//  CONTENT BOXES  //
//=================//

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-red,
.content-box-gold {
    margin: 0 0 $space-default-half + 10px;
    overflow: hidden;
    padding: $space-default-half;
    border: 1px solid $ucf-gray;
}

.content-box-gray {
}

.content-box-gold {
    border-color: $ucf-gold
}

.content-box-blue {
    border-color: $blue;
}

.content-box-green {
    border-color: $green;
}

.content-box-red {
    border-color: $red;
}



//================//
//  MKMC & ADMIN  //
//================//

i.mkmc-note {
    border-bottom: 1px solid $ucf-gold;
}
