//===========================//
//  UCFBands V2 | Variables  //
//===========================//


//==========//
//  COLORS  //
//==========//

// Basic 
$white:             #FFFFFF;
$black:             #000000;


// Gold
$ucf-gold:          #FFCA06;
$ucf-gold-darker:   #EFBC00;


// Gray
$ucf-gray:          #221E1F;
$ucf-gray-darker:   #141414;
$ucf-gray-med:      lighten($ucf-gray, 50);
$ucf-gray-med-light:lighten($ucf-gray, 70);
$ucf-gray-light:    rgb(245,245,245);

$border-gray:       #D4D4D4;


// Support/Other
$red:               #D41F1A;
$green:             #5CB85C;
$blue:              #428BCA;


// Transparencies
$trans-full:        rgba(0,0,0,0);
$trans-shadow:      rgba(0,0,0,0.175);


// Defaults
$body-text:         #333333;



//=============//
//  STRUCTURE  //
//=============//

// Spacing
$space-default:     40px;
$space-default-half:20px;


// Header (.site-header)
$site-header-width: 330px;
$site-header-width-med: $site-header-width - 100;



//================//
//  MASONRY GRID  //
//================//


// GUTTER
$masonry-gutter-width: 3%; // Default 2.5%


//== WIDTHS/COLUMNS ==//


// 6-Col Layout Sizer
$masonry-6col-base-column-width:            16.66666666666667%; // 1/6
$masonry-6col-grid-sizer:                   $masonry-6col-base-column-width - $masonry-gutter-width; // 1/6

// 6-Col Layout Widths
$masonry-6col-block-width--two-sixths:      ($masonry-6col-base-column-width * 2) - $masonry-gutter-width; // One Third
$masonry-6col-block-width--three-sixths:    ($masonry-6col-base-column-width * 3) - $masonry-gutter-width; // One Half
$masonry-6col-block-width--four-sixths:     ($masonry-6col-base-column-width * 4) - $masonry-gutter-width; // Two Thirds
$masonry-6col-block-width--six-sixths:      ($masonry-6col-base-column-width * 6) - $masonry-gutter-width; // One Whole



// 4-Col Layout Sizer
$masonry-4col-base-column-width:            25%; // 1/4
$masonry-4col-grid-sizer:                   $masonry-4col-base-column-width - $masonry-gutter-width; // 1/4

// 4-Col Layout Widths
$masonry-4col-block-width--one-fourth:      ($masonry-4col-base-column-width * 1) - $masonry-gutter-width; // One Fourth
$masonry-4col-block-width--two-fourths:     ($masonry-4col-base-column-width * 2) - $masonry-gutter-width; // One Half
$masonry-4col-block-width--three-fourths:   ($masonry-4col-base-column-width * 3) - $masonry-gutter-width; // Three Fourths
$masonry-4col-block-width--four-fourths:    ($masonry-4col-base-column-width * 4) - $masonry-gutter-width; // One Whole



//=================//
//  FONT FAMILIES  //
//=================//

$font-family-sans-serif:    'Roboto', 'Arial', sans-serif;
$font-family-serif:         'Droid Serif', 'Georgia', 'Times', serif;
$font-family-athletic:      'Oswald', 'Roboto', sans-serif;


//===========//
//  SHADOWS  //
//===========//

// Gold
$text-shadow-gold-med: 0 0 3px $ucf-gold-darker, 1px 1px 1px $ucf-gold-darker, 0 0 3px $ucf-gold-darker, 2px 2px 1px $ucf-gold-darker;

// Dark
$text-shadow-dark-med: 0 0 3px $black, 1px 1px 1px rgba(0,0,0,0.4), 0 0 3px $black, 2px 2px 1px rgba(0,0,0,0.4);
$text-shadow-dark-lg:  0 0 8px $black, 0 0 2px $black, 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 3px rgba(0, 0, 0, 0.4);


//==========================//
//  RESPONSIVE BREAKPOINTS  //
//==========================//

// Usage
// @media only screen and (max-width: $breakpoint-size)


//  BREAKPOINT                      DESCRIPTION
//  ----------------------------------------------------------
    $breakpoint-small: 768px;   //  Smallest up to Medium
    $breakpoint-medium: 1200px; //  Medium up to Large (Desktop)
    $breakpoint-large: 1366px;  //  Large (Desktop) and Greater
