//===========================//
//  UCFBands V2 | Variables  //
//===========================//


//==========//
//  COLORS  //
//==========//

//-- BASIC --// 
$white:             #FFFFFF;
$black:             #000000;


//-- PRIMARY --//

// Gold
$ucf-gold:          #FFCA06;
$ucf-gold-darker:   #EFBC00;


// Gray
$ucf-gray:          #221E1F;
$ucf-gray-darker:   #141414;
$ucf-gray-darkest:  #111111;
$ucf-gray-med:      lighten($ucf-gray, 50);
$ucf-gray-med-light:lighten($ucf-gray, 70);
$ucf-gray-light:    rgb(245,245,245);

$border-gray:       #D4D4D4;


//-- SUPPORT --//

// Red
$red:               #D41F1A;
$red-darker:        darken($red, 10);
$red-darkest:       darken($red, 20);

// Green
$green:             #5CB85C;
$green-darker:      darken($green, 10);
$green-darkest:     darken($green, 20);

// Blue
$blue:              #428BCA;
$blue-darker:       darken($blue, 10);
$blue-darkest:      darken($blue, 20);


//-- TRANSPARENCIES --//
$trans-full:        rgba(0,0,0,0);
$trans-shadow:      rgba(0,0,0,0.175);


//-- DEFAULTS --//
$body-text:         #333333;



//===========//
//  SHADOWS  //
//===========//

// White
$text-shadow-white-med: 0 0 3px $white, 1px 1px 1px $white, 0 0 3px $white, 2px 2px 1px $white;
$text-shadow-white-lg:  0 0 8px $white, 0 0 2px $white, 1px 1px 2px $white, 2px 2px 3px $white;


// Gold
$text-shadow-gold-med: 0 0 3px $ucf-gold-darker, 1px 1px 1px $ucf-gold-darker, 0 0 3px $ucf-gold-darker, 2px 2px 1px $ucf-gold-darker;

// Red
$text-shadow-red-med: 0 0 3px $red-darker, 1px 1px 1px $red-darker, 0 0 3px $red-darker, 2px 2px 1px $red-darker;

// Green
$text-shadow-green-med: 0 0 3px $green-darker, 1px 1px 1px $green-darker, 0 0 3px $green-darker, 2px 2px 1px $green-darker;

// Blue
$text-shadow-blue-med: 0 0 3px $blue-darker, 1px 1px 1px $blue-darker, 0 0 3px $blue-darker, 2px 2px 1px $blue-darker;

// Dark
$text-shadow-dark-med: 0 0 3px $black, 1px 1px 1px rgba(0,0,0,0.4), 0 0 3px $black, 2px 2px 1px rgba(0,0,0,0.4);
$text-shadow-dark-lg:  0 0 8px $black, 0 0 2px $black, 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 3px rgba(0, 0, 0, 0.4);



//=============//
//  STRUCTURE  //
//=============//

// Spacing
$space-default:     40px;
$space-default-half:20px;


// Header (.site-header)
$site-header-width:         330px;
$site-header-width-med:     $site-header-width - 100;
$site-header-width-mobile:  260px;
$site-header-mobile-height: 70px;



//================//
//  MASONRY GRID  //
//================//


// GUTTER
$masonry-gutter-width: 3%; // Default 2.5%


//== WIDTHS/COLUMNS ==//


// 6-Col Layout Sizer
$masonry-6col-base-column-width:            16.66666666666667%; // 1/6
$masonry-6col-grid-sizer:                   $masonry-6col-base-column-width - $masonry-gutter-width; // 1/6

// 6-Col Layout Widths
$masonry-6col-block-width--two-sixths:      ($masonry-6col-base-column-width * 2) - $masonry-gutter-width; // One Third
$masonry-6col-block-width--three-sixths:    ($masonry-6col-base-column-width * 3) - $masonry-gutter-width; // One Half
$masonry-6col-block-width--four-sixths:     ($masonry-6col-base-column-width * 4) - $masonry-gutter-width; // Two Thirds
$masonry-6col-block-width--six-sixths:      ($masonry-6col-base-column-width * 6) - $masonry-gutter-width; // One Whole

// Blockless Layout Widths
$masonry-6col-block-width--two-sixths-blockless:    ($masonry-6col-base-column-width * 2);
$masonry-6col-block-width--three-sixths-blockless:  ($masonry-6col-base-column-width * 3);
$masonry-6col-block-width--four-sixths-blockless:   ($masonry-6col-base-column-width * 4);
$masonry-6col-block-width--six-sixths-blockless:    ($masonry-6col-base-column-width * 6);



// 4-Col Layout Sizer
$masonry-4col-base-column-width:            25%; // 1/4
$masonry-4col-grid-sizer:                   $masonry-4col-base-column-width - $masonry-gutter-width; // 1/4

// 4-Col Layout Widths
$masonry-4col-block-width--one-fourth:      ($masonry-4col-base-column-width * 1) - $masonry-gutter-width; // One Fourth
$masonry-4col-block-width--two-fourths:     ($masonry-4col-base-column-width * 2) - $masonry-gutter-width; // One Half
$masonry-4col-block-width--three-fourths:   ($masonry-4col-base-column-width * 3) - $masonry-gutter-width; // Three Fourths
$masonry-4col-block-width--four-fourths:    ($masonry-4col-base-column-width * 4) - $masonry-gutter-width; // One Whole

// Blockless Layout Widths
$masonry-4col-block-width--one-fourth-blockless:    ($masonry-4col-base-column-width * 1);
$masonry-4col-block-width--two-fourths-blockless:   ($masonry-4col-base-column-width * 2);
$masonry-4col-block-width--three-fourths-blockless: ($masonry-4col-base-column-width * 3);
$masonry-4col-block-width--four-fourths-blockless:  ($masonry-4col-base-column-width * 4);



//=================//
//  FONT FAMILIES  //
//=================//

$font-family-sans-serif:    'Roboto', 'Arial', sans-serif;
$font-family-serif:         'Droid Serif', 'Georgia', 'Times', serif;
$font-family-athletic:      'Oswald', 'Roboto', sans-serif;



//==========================//
//  RESPONSIVE BREAKPOINTS  //
//==========================//

// Usage
// @media only screen and (max-width: $breakpoint-size)


//  BREAKPOINT                      Width       DESCRIPTION
//  ----------------------------------------------------------------------------------
    $breakpoint-extra-extra-small:  380px;      // Extra Extra Small up to Extra Small
    $breakpoint-extra-small:        600px;      // Extra Small up tp Small
    $breakpoint-small:              768px;      // Small up to Small Medium
    $breakpoint-small-medium:       980px;      // Small Medium up to Medium
    $breakpoint-medium:             1200px;     // Medium up to Large (Desktop)
    $breakpoint-large:              1366px;     // Large (Desktop) to Extra Large
    $breakpoint-extra-large:        1700px;     // Extra Large to Extra Extra Large)
    $breakpoint-extra-extra-large:  1920px;     // Extra Extra Large and Greater
    
    $breakpoint-height-large:       850px;      // To be used with menu fixing vs absolute
    $breakpoint-height-medium:      740px;      
